<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee" version="5.0">
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>com.example.WelcomeServlet</servlet-class>
    </servlet>
    <!-- <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping> -->
</web-app>
